<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
    <title th:text="${title}">은민이네</title>

</head>

<body>

<header th:fragment="header">
    <!-- Fixed navbar -->
    <nav class="navb<!---->ar navbar-expand-md navbar-light fixed-top navbar-top">
        <div class="container-fluid">
            <div class="header-menu-wrap">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" width="30" height="40" class="d-inline-block align-top" alt="">
                    <span class="wagle-font">은민이네</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link main-font" href="/user/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-font" href="/user/save">나의 청첩장</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>

</html>