@font-face {
    font-family: 'WagleWagle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2301-wagle@1.0/WagleWagle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wagle-font {
    font-family: "WagleWagle";
    font-weight: normal;
}

.main-font {
    font-family: "omyu_pretty";
    font-weight: normal;
    color: grey;
}

.cursive-font {
    font-family: "InkLipquid";
    font-weight: bold;
    color: pink;
}
.container-fluid {
    padding : 5px 10px;
}

.navbar-top {
    background-color: snow;
}

.navbar-brand {
    padding-bottom: 0;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.a-title {
    text-decoration: none;
    color: #4e423b;
}

.a-title:hover {
    color: #15751b;
    text-decoration: underline;
}


body {
    background-color: snow;
}

.invi-wrapper {
 background-color: white;
 height: 500px;
 width: 250px;
}

.main-photo {
    max-height: 100%;
    max-width: 100%;
}

main > .container {
    max-width: 250px;
    padding: 100px 0 0 0;
}

.card {
    width: 250px;
    height: 500px;
}

.image-wrap {
    margin-top: 26px;
    width: 200px;
    height: 300px;
}

.card-bride-groom {
    position: absolute;
    width: 200px;
    height: 370px;
}

.card-bride-groom .names {
    width:100%;
    font-size: 35px;
    text-align : center;
}

.card-bride-groom .message {
    width:100%;
    font-size: 35px;
    text-align : center;
    bottom: 0;
    position: absolute;
}

.card-date-loc {
    width: 200px;
    margin-top: 40px;
}

.card-date-loc .message {
    text-align: center;
    margin: 0 0;
}

.guide-func {
    display: flex;
    justify-content : space-between;
}

.guide-func .message {
    color: grey;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 3px;
}

.header-menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}









.card-bride-groom span{
  position: absolute;
  width:50px;
  height:50px;
  background:purple ;
  box-shadow:0px 0px  10px purple,
    0px 0px  40px purple,
  0px 0px  80px purple,
  0px 0px  120px purple,
  0px 0px  200px purple;
  border-radius:30%;
  outline:none;

}
.card-bride-groom span:nth-child(n+1){
  background:transparent;
  border:5px solid cyan;
  animation:animate2 5s linear infinite ;

}
@keyframes animate2{
  100%{border:5px solid purple;
  background:purple}
}
.card-bride-groom span:nth-child(1){
  top:100%;
  left:20%;
  animation:animate 10s linear infinite ;
}

.card-bride-groom span:nth-child(2){
  top:100%;
  left:60%;
  animation:animate 18s linear infinite ;
}

.card-bride-groom span:nth-child(3){
  top:100%;
  left:80%;
  animation:animate 25s linear infinite ;
}

.card-bride-groom span:nth-child(4){
  top:100%;
  left:40%;
  animation:animate 14s linear infinite ;
}

.card-bride-groom span:nth-child(5){
  top:100%;
  left:30%;
  animation:animate 17s linear infinite ;
}

.card-bride-groom span:nth-child(6){
  top:100%;
  left:60%;
  animation:animate 6s linear infinite ;
}

.card-bride-groom span:nth-child(7){
  top:65%;
  left:25%;
  animation:animate 14s linear infinite ;
}

.card-bride-groom span:nth-child(8){
  top:90%;
  left:77%;
  animation:animate 14s linear infinite ;
}
@keyframes animate{
  0%{
    transform:scale(0);
    opacity: 1;

  }
  50%{transform:rotateZ(180) translateX(-50px);opacity: 0.8;}
  100%{
    transform:scale(1) translateY(-500px) rotateZ(360deg) translateX(80px);
    z-index:1000;
    opacity: 0.3;

  }
}




.form-container {
    padding: 100px 20px 0px 20px;
}

.new-form {
    background-color: white;
    width: 100%;
    height: 100%;
}

.config-zone > form {
    padding: 15px;
}

.form-element-wrap {
    display: flex;
}

.form-element-wrap > label {
    width: 100px;
}

.form-element-wrap .col {
    padding: 0 2px 2px;
}

.form-group {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    border-radius: 4px;
    padding: 10px;
    margin: 15px 0;
}

.form-check {
    padding-left: 3em;
}

.form-check .form-check-input {
    margin-left: 1px;
    margin-right: 3px;
}

.form-group .title {
   border-radius: 100px 15px 100px 10px;
   background-color: snow;
}

.form-element-wrap .row {
    width : 300px;
}

.form-control[readonly] {
    background-color: snow;
}

.intro-img-preview-wrap {
    width: 200px;
    height: 300px;
}

.intro-img-preview-wrap > img {
    max-width: 100%;
    max-height: 100%;
}


.form-element-wrap:has(.config-intro) {
    justify-content : center;
    padding: 10px 0;
    border-style: dotted;
    border-color: lightgrey;
    margin: 10px 0;
}

.config-intro {
    width: 200px;
}